version: '3.8'

services:
  document_manager:
    image: 123sourcing_api_channel
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]